<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <CodeCoverage>
    <ModulePaths>
      <Include>
        <ModulePath>.*Scalar\.Kiota\.Extension\.dll$</ModulePath>
      </Include>
      <Exclude>
        <ModulePath>.*Tests.*</ModulePath>
        <ModulePath>.*TestAdapter.*</ModulePath>
        <ModulePath>.*TUnit.*</ModulePath>
        <ModulePath>.*Microsoft.*</ModulePath>
        <ModulePath>.*System.*</ModulePath>
      </Exclude>
    </ModulePaths>
    <EnableStaticNativeInstrumentation>True</EnableStaticNativeInstrumentation>
    <EnableDynamicInstrumentation>True</EnableDynamicInstrumentation>
  </CodeCoverage>
</Configuration>
